email-validator==2.0.0.post2
Flask==2.2.3
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
Font-Awesome-Flask==0.1.1
gunicorn
Jinja2==3.1.2
MarkupSafe==2.1.2
mysql==0.0.3
mysql-connector-python==8.0.32
mysqlclient==2.1.1
python-dotenv
SQLAlchemy==2.0.10
WTForms==3.0.1
pymysql==1.0.2
flask-bcrypt
