{% extends "layout.html" %} {% block content %}
<!--Cover Image-->
<img
  src="/static/assets/img/golf-bg.jpg"
  class="bg-image"
  alt="A golf course"
/>
<header class="cover">
  <div class="container">
    <div class="cover-heading text-uppercase">{{ username }}</div>
  </div>
</header>
<!-- News Section -->
<section class="news-section">
  <div class="container-fluid">
    <h2 class="text-center">News Management</h2>
    <form
      action="{{ url_for('post_news') }}"
      method="POST"
      enctype="multipart/form-data"
    >
      {{ news_form.hidden_tag() }}

      <div class="mb-3">
        <label for="{{ news_form.title.id }}" class="form-label"
          >{{ news_form.title.label }}</label
        >
        {{ news_form.title(class="form-control") }}
      </div>

      <div class="mb-3">
        <label for="{{ news_form.content.id }}" class="form-label"
          >{{ news_form.content.label }}</label
        >
        {{ news_form.content(class="form-control") }}
      </div>

      <div class="mb-3">
        <label for="{{ news_form.created_at.id }}" class="form-label"
          >{{ news_form.created_at.label }}</label
        >
        {{ news_form.created_at(class="form-control") }}
      </div>

      <div class="mb-3">
        <label for="{{ news_form.image.id }}" class="form-label"
          >{{ news_form.image.label }}</label
        >
        {{ news_form.image(class="form-control") }}
      </div>

      <button type="submit" class="btn btn-custom">Create News Post</button>
    </form>
  </div>
</section>

<!-- Events Section -->
<div class="row-events">
  <h2 class="text-center">Events Management</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Add Event</h2>
            <form
              action="{{ url_for('create_event') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              {{ event_form.hidden_tag() }}

              <div class="mb-2">
                <label for="{{ event_form.title.id }}" class="form-label"
                  >{{ event_form.title.label }}</label
                >
                {{ event_form.title(class="form-control",
                id=event_form.title.id) }}
              </div>

              <div class="mb-2">
                <label for="{{ event_form.description.id }}" class="form-label"
                  >{{ event_form.description.label }}</label
                >
                {{ event_form.description(class="form-control",
                id=event_form.description.id) }}
              </div>

              <div class="mb-2">
                <label for="{{ event_form.start_date.id }}" class="form-label"
                  >{{ event_form.start_date.label }}</label
                >
                {{ event_form.start_date(class="form-control",
                id=event_form.start_date.id, type="date") }}
              </div>

              <div class="mb-2">
                <label for="{{ event_form.end_date.id }}" class="form-label"
                  >{{ event_form.end_date.label }}</label
                >
                {{ event_form.end_date(class="form-control",
                id=event_form.end_date.id, type="date") }}
              </div>

              <div class="mb-2">
                <button type="submit" class="btn btn-custom">
                  Create New Event
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Upcoming Events</h2>
            <ul class="list-group list-group-flush">
              {% for event in upcoming_events %}
              <li class="list-group-item">
                {{ event.start_date }}: {{ event.title }}
                <form
                  method="POST"
                  action="{{ url_for('delete_event', event_id=event.id) }}"
                  onsubmit="return confirm('Are you sure you want to delete your event? This action cannot be undone.');"
                >
                  {{ delete_form.csrf_token }}
                  <input type="hidden" name="id" value="{{ event.id }}" />
                  <button type="submit" class="btn btn-danger btn-sm">
                    Delete
                  </button>
                </form>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Users Section -->
<section class="user-section">
  <div class="container">
    <h2 class="text-center">User Management</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-center">Admin</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ "Yes" if user.is_admin else "No" }}</td>
            <td>
              <div class="d-flex justify-content-end">
                <a
                  href="{{ url_for('edit_user', user_id=user.id) }}"
                  class="btn btn-sm btn-custom me-2"
                  >Edit</a
                >

                <form
                  method="POST"
                  action="{{ url_for('delete_user', user_id=user.id) }}"
                  onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');"
                >
                  <input type="hidden" name="user_id" value="{{ user.id }}" />
                  {{ delete_form.csrf_token }}
                  <button type="submit" class="btn btn-sm btn-danger">
                    Delete
                  </button>
                </form>
              </div>

              <div class="collapse" id="collapse3-{{ user.id }}">
                <div class="container mt-3">
                  <h1 class="text-center my-5">Edit Profile</h1>
                  <div class="row">
                    <div class="col-md-4">
                      <img
                        src="https://via.placeholder.com/200x200"
                        class="img-fluid rounded-circle mb-3"
                        alt="Profile Picture"
                      />
                    </div>
                    <div class="col-md-8">
                      <form
                        method="POST"
                        action="{{ url_for('edit_user', user_id=user.id) }}"
                      >
                        {{ user_edit_form.hidden_tag() }}
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <strong>Email:</strong>
                          </div>
                          <div class="col-md-9">
                            {{ user_edit_form.email(class="form-control",
                            value=user.email) }}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <strong>Name:</strong>
                          </div>
                          <div class="col-md-9">
                            {{ user_edit_form.name(class="form-control",
                            value=user.name) }}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <strong>Address:</strong>
                          </div>
                          <div class="col-md-9">
                            {{ user_edit_form.address(class="form-control",
                            value=user.address) }}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <strong>Phone:</strong>
                          </div>
                          <div class="col-md-9">
                            {{ user_edit_form.phone(class="form-control",
                            value=user.phone) }}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <strong>Club:</strong>
                          </div>
                          <div class="col-md-9">
                            {{ user_edit_form.club(class="form-control",
                            value=user.club) }}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-9 offset-md-3">
                            <button type="submit" class="btn btn-success me-2">
                              Save
                            </button>
                            <button
                              class="btn btn-secondary"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse3-{{ user.id }}"
                              aria-expanded="false"
                              aria-controls="collapse3-{{ user.id }}"
                            >
                              Cancel
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
