{% extends "layout.html" %}
{% block content %}
<!--Cover Image--> 
<img src="/static/assets/img/tennis.jpg" class="bg-image" alt="Girl Playing tennis">
<header class="cover">
        <div class="container">
        <div class="cover-heading text-uppercase">John Doe</div>
</header>

<!-- Latest News Section -->
<section class="tennis-section">
    <div class="container">
        <h1 class="text-center my-5">My Account</h1>
        <div class="row">
          <div class="col-md-4">
            <img src="https://via.placeholder.com/200x200" class="img-fluid rounded-circle mb-3" alt="Profile Picture">
            <button class="btn btn-primary btn-block">Change Profile Picture</button>
          </div>
          <div class="col-md-8">
            <div class="row mb-3">
              <div class="col-md-3">
                <strong>Email:</strong>
              </div>
              <div class="col-md-9">
                <span>johndoe@example.com</span>
                <button class="btn btn-link">Edit</button>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3">
                <strong>Name:</strong>
              </div>
              <div class="col-md-9">
                <span>John Doe</span>
                <button class="btn btn-link">Edit</button>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3">
                <strong>Address:</strong>
              </div>
              <div class="col-md-9">
                <span>123 Fake Street<br>Anytown, UK PO19 1AB</span>
                <button class="btn btn-link">Edit</button>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3">
                <strong>Phone:</strong>
              </div>
              <div class="col-md-9">
                <span>0771234560</span>
                <button class="btn btn-link">Edit</button>
              </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                  <strong>Club:</strong>
                </div>
                <div class="col-md-9">
                  <span>Bognor Ball Handlers</span>
                  <button class="btn btn-link">Edit</button>
                </div>
              </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header">
              Upcoming Tennis Competitions
            </div>
            <div class="card-body">
                <div class="calendar">
                        <div class="row">
                                <div class="col">
                                    <div class="calendar-header">
                                    <button class="btn btn-primary float-start"><i class="bi bi-chevron-left"></i></button>
                                    <h5 class="text-center">April 2023</h5>
                                    <button class="btn btn-primary float-end"><i class="bi bi-chevron-right"></i></button>
                                    </div>
                                    <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                        <th scope="col">Sun</th>
                                        <th scope="col">Mon</th>
                                        <th scope="col">Tue</th>
                                        <th scope="col">Wed</th>
                                        <th scope="col">Thu</th>
                                        <th scope="col">Fri</th>
                                        <th scope="col">Sat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>1</td>
                                        </tr>
                                        <tr>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        </tr>
                                        <tr>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        </tr>
                                        <tr>
                                        <td>16</td>
                                        <td>17</td>
                                        <td>18</td>
                                        <td>19</td>
                                        <td>20</td>
                                        <td>21</td>
                                        <td>22</td>
                                        </tr>
                                        <tr>
                                        <td>23</td>
                                        <td>24</td>
                                        <td>25</td>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                        <td>29</td>
                                        </tr>
                                        <tr>
                                        <td>30</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                          Upcoming Tennis Competitions
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="card mb-4">
                                <div class="card-header">
                                  May 2023
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">May 2: French Open</li>
                                  <li class="list-group-item">May 15: Rome Masters</li>
                                  <li class="list-group-item">May 23: Roland Garros</li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="card mb-4">
                                <div class="card-header">
                                  June 2023
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">June 6: Halle Open</li>
                                  <li class="list-group-item">June 13: Queen's Club Championships</li>
                                  <li class="list-group-item">June 27: Wimbledon</li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="card mb-4">
                                <div class="card-header">
                                  July 2023
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">July 11: Hamburg European Open</li>
                                  <li class="list-group-item">July 18: Swiss Open</li>
                                  <li class="list-group-item">July 31: Citi Open</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                                           
    </div>
</div>        
</div>
</section>
{% endblock %}

