/* Reset some default styles */
body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #2c2c2c;
}

/* Background image styling */
.bg-image {
        width: 100vw;
        height: 100%x;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        filter: brightness(0.6);
        background-size: cover;
}

/* Navbar logo styling */
.navbar-logo {
        width: 100px;
        height: 40px;
        object-fit: contain;
}

/* Navbar styling */
.navbar {
        transition: all 0.5s;
        height: 70px;
}

a.nav-link {
        color: white;
        font-weight: 500;
}

a.nav-link:hover {
        color: #E4BB25;
        font-weight: 500;
}

a {
        color: #E4BB25;
        font-weight: 500;
}

a:hover {
        color: #ffffff;
        font-weight: 500;
}

.navbar-scrolled {
        position: sticky;
        width: 100%;
        background-color: #2c2c2c;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-collapse.offcanvas-collapse {
        background-color: #2c2c2c;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1030;
        padding-top: 60px;
        width: 250px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
}

.navbar-collapse.offcanvas-collapse.show {
        transform: translateX(0%);
}

.navbar-toggler {
        z-index: 1031;
}

.profile-image {
        padding-top: 4px;
        max-width: 32px;
        color: #fff;
}

/* Header styling */
header.cover {
        padding-top: 5rem;
        /* Adjust the padding-top value to resize the header */
        padding-bottom: 3rem;
        /* Adjust the padding-bottom value to resize the header */
        text-align: center;
        color: #fff;
        height: 100%;
        margin-bottom: 3rem;
        /* Add margin-bottom to create space between header and featured section */
}

header.cover .cover-subheading {
        font-size: 1rem;
        font-style: italic;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: "Rubik Mono One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.cover .cover-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Featured section styling */
.featured-section {
        background-color: #fff;
        font-size: 1.25rem;
}

#icon {
        width: 5em;
        padding-bottom: 50px;
}

/* Card styles for tennis, football, and rugby */
#tennis-card {
        background: no-repeat url("/static/assets/icons/tennis.png") top center;
        background-size: 5rem;
        padding-top: 6rem;
        color: black;
}

#football-card {
        background: no-repeat url("/static/assets/icons/football.png") top center;
        background-size: 5rem;
        padding-top: 6rem;
}


#rugby-card {
        background: no-repeat url("/static/assets/icons/rugby.png") top center;
        background-size: 5rem;
        padding-top: 6rem;
}

/* About section styling */
.about-section {
        padding: 5rem;
        background-color: #f1f1f1;
        font-size: 1.25rem;
        margin-bottom: 2rem;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {

        /* Header styling for larger screens */
        header.cover {
                padding-top: 10rem;
                padding-bottom: 8rem;
        }

        header.cover .cover-subheading {
                font-size: 2.25rem;
                font-style: italic;
                line-height: 2.25rem;
                margin-bottom: 2rem;
        }

        header.cover .cover-heading {
                font-size: 4.5rem;
                font-weight: 700;
                line-height: 4.5rem;
                margin-bottom: 4rem;
        }

}

/* Form group styling */
.form-group {

        padding: 10px;
}

/* Contact section styling */
.contact-section .su {
        width: 50px;
        padding: 20px;
}

.contact-section {

        background-color: #fff;
        padding-bottom: 20px;
}

/* Map styling */
#map {
        height: 400px;
        width: 100%;
        border-radius: 1rem;
}

/* Footer styling */
.footer {
        position: relative;
        z-index: 1;
        background-color: #2c2c2c;
}

/* Social icons styling */
.fa-facebook:before {
        font-family: FontAwesome;
        content: "\f09a";
        color: #1877F2;
}

.fa-twitter:before {
        font-family: FontAwesome;
        content: "\f099";
        color: #1DA1F2;
}

.fa-instagram:before {
        font-family: FontAwesome;
        content: "\f16d";
        color: #E4405F;
}

.social-icons li {
        display: inline-block;
        margin-right: 5px;
}

/* Footer links styles */
.footer-links li a {
        color: white;
        font-weight: 500;
        text-decoration: none;
}

.footer-links li a:hover {
        color: #E4BB25;
        font-weight: 500;
}

/* Contact number styles */
a.contact-num p {
        color: white;
        font-weight: 500;
        text-decoration: none !important;
}

.heading {
        color: #E4BB25;
        font-weight: 500;
}

a.contact-num:hover p {
        color: #E4BB25;
        font-weight: 500;
        text-decoration: none !important;
}

/* Hover effect for elements with .hvr-grow class */
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
        transform: scale(1.1);
}

/* Custom button styles */
.btn-custom {
        background-color: #E4BB25;
        color: #fff;
}

.btn-custom:hover {
        background-color: #E4BB25;
        color: #fff;
}

.btn-custom-secondary {
        background-color: #6C757D;
        color: #fff;
}

.btn-custom-secondary:hover {
        background-color: #6C757D;
        color: #fff;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        /* make scrollbar transparent */
}

/* Tennis Page Styles */
.tennis-section {
        padding: 0rem 5rem;
        background-color: #fff;
        font-size: 1.25rem;
}

.tennis-latest-news {
        margin-top: 100px;
        height: 400px;
        padding-left: 50px;
        padding-right: 50px;
}

.news-tag {
        color: #E4BB25;
        font-weight: 600;
}


.tennis-latest-news a {
        color: #E4BB25;
        font-weight: 600;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 350px;
}

.leaderboard-container {
        background-color: #F1F1F1;
}

.weather-widget .card {
        background-color: rgb(255, 255, 255);
        min-height: 300px;
        width: 450px;
        border-radius: 40px;
}

.temperature {
        font-size: 62px;
        font-weight: 400;
        color: #E4BB25;
}

.weather-icon {
        padding-right: 50px;
}

div#sportshowcase {
        background-color: #c7c7c7;
}

section#about {
        margin-bottom: 0px;
}

.news-section {
        display: flex;
        flex-direction: row;
        gap: 0;
        border: none;
        border-radius: 0.25rem;
        overflow: hidden;
        flex-wrap: nowrap;
        margin-bottom: 1rem;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
        height: 350px;
        position: relative;
}

.bd-placeholder-img {
        height: 350px;
}

.tennis-carousel {
        padding: 12px 0px;
}

.tennis-carousel img {
        filter: brightness(0.6);
        width: 100%;
        height: 350px;
        border-radius: 0.25rem;
}

.tennis-carousel-body {
        padding: 20px;
        position: absolute;
        bottom: 0;
        color: white;
        font-size: 15px;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

#sportshowcase .carousel-inner img {
        object-fit: cover;
        height: 600px;
        filter: brightness(0.6);

}

#sportshowcase .carousel-caption {
        bottom: 0;

}

.weather {
        margin-left: -5rem;
        margin-right: -5rem;
}
.container-fluid.crules {
        padding: 0px;
        margin-top: 10px;
}
.search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 60px;
        border-radius: 30px;
        flex: 1;
        margin-right: 16px;
        font-size: 18px;
}

.search button {
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        cursor: pointer;
}

.search button img {
        width: 16px
}

.weather-icon {
        width: 170px;
        margin-top: 30px;
}

.weather h1 {
        font-size: 80px;
        font-weight: 500;
}

.weather h2 {
        font-size: 45px;
        font-weight: 400;
        margin-top: -10px;
}

.weather-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;
}

.weather-col {
        display: flex;
        align-items: center;
        text-align: left;
}

.weather-col img {
        width: 40px;
        margin-right: 10px;
}

.weather-humidity,
.weather-wind {
        font-size: 20px;
        margin-top: -6px;
}

.form-control::placeholder {
        color: #767676;
        /* or any other muted color you want to use */
}

.card {
        color: #555;
        width: 100%;
        max-width: none;
}

/*Login page*/
ul.flashmsg {
        list-style: none;
        padding-left: 12px;
        background-color: #ffc008;
        color: black;
        font-weight: 500;
        border-radius: 5px;
        margin-top: 10px;
        padding: 5px 5px 5px 10px;
}

.user-section {
        padding: 3rem;
        background-color: #fff;
        font-size: 1.25rem;
}
.carousel-item-img-1 {
        background-image: url('/static/assets/img/tennis.jpg');
        background-size: cover;
        }