<head>
  <!--FontAwesome Style-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" />
</head>
<footer class="text-white pt-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="pb-3 heading">Connect with Us</h5>
        <h6 class="heading">Address</h6>
        <p>123 High Street Southampton SO31 4NE United Kingdom</p>
        <h6 class="heading">Contact Number</h6>
        <a class="contact-num" style="text-decoration: none" href="tel:+44 20 1234 5678"><p>+44 20 1234 5678</p></a>
      </div>
      <div class="col-md-4 text-center">
        <h5 class="pb-3 heading">Links</h5>
        <ul class="list-unstyled footer-links">
          <li><a href="#">SPORTS</a></li>
          <li><a href="#">PRICES</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
      <div class="col-md-4 pb-3">
        <h5 class="pb-3 heading">Socials</h5>
        <ul class="list-unstyled social-icons">
          <li>
            <a href="https://facebook.com"><i class="fab fa-facebook fa-2x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a href="https://instagram"><i class="fab fa-instagram fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-left text-muted p-3">
    <p>&copy; 2023 MLS - Multiple Sports Complex All rights reserved.</p>
  </div>
</footer>
