{% extends "layout.html" %}
{% block content %}
<img class="bg-image" src="/static/assets/sports-tools.jpg" alt="Background mage" />
<!-- Header-->
<header class="cover">
  <div class="container">
    <div class="cover-subheading">Welcome to MSL - Multi Sports Complex</div>
    <div class="cover-heading text-uppercase">
      Making leagues more fun and friendly for everyone!
    </div>
    <a class="btn btn-custom text-uppercase mt-5" href="#featured">More Detail</a>
  </div>
</header>
<!-- Featured -->
<section class="featured-section pt-5" id="featured">
  <div class="text-center container px-4 py-5" id="featured-3">
    <h2 class="featured-heading">Featured Sports</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 justify-content-center">
      <div class="feature" id="golf-card">
        <h3 class="fs-2">Golf</h3>
        <p>Looking for a user-friendly platform to run a golf competition? Our awesome golf league software is just what you need! Admins, managers, and players alike will love using our platform to stay organized and have fun on the greens!</p>
      </div>
      <div class="feature" id="football-card">
        <h3 class="fs-2">Football</h3>
        <p>If you're looking for the best way to track scores and stay on top of the competition in your local football league, our amazing Football league software is the answer! Our platform is designed to help you and your team have a ton of fun on the pitch while staying up to date on the latest scores and standings.</p>
      </div>
			<div class="feature" id="rugby-card">
        <h3 class="fs-2">Rugby</h3>
        <p>Ready to take on the competition in the world of rugby? Our incredible rugby league software makes it easy for everyone to access the latest scores and league tables across the game, all while having a blast! So, grab your boots, line up your team, and get ready to score some serious points both on and off the field!</p>
      </div>
        </div>
      </div>
</section>
    <!-- About -->
		<section class="about-section pt-5" id="about">
    <div id="about" class="container-fluid">
      <div class = "text- align = center">
      <div class="row">
        <div class="col-sm-8">
        </div>  
        <h2>About MSL and what we offer</h2><br>
          <h4>I created this website, to help sport enthusiasts like myself keep track of their leagues. I wanted to do this in a simple manner where everything is easy to use and where you can get all the information you need from your league, competition details, venues and more.</h4><br>
          <p class="text-muted" >At MSL, we believe that sports are an integral part of building healthy communities and promoting a healthy lifestyle. Our league is open to individuals of all ages and skill levels, from beginners to seasoned athletes. We offer a range of divisions, so you can find the one that best suits your level of play. </p>
          <p class="text-muted">Our league is run by a dedicated team of organizers who are passionate about sports and committed to creating a fun and inclusive environment for all participants. We strive to provide a positive experience for our players, with fair and consistent rules, and a focus on good sportsmanship. </p>
          <p class="text-muted">So, whether you're looking to compete at a high level, stay active, or simply meet new people who share your love of sports, MSL has something for everyone. Join us today and experience the excitement of multiple sports in a fun and supportive environment! </p>
    </div>
</section>
<!-- Pricing -->
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" id="prices">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm pricecol hvr-grow">
        <div class="card-header py-3">
          <h5 class="my-0 fw-normal"><b>Plan 1</b></h5>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">£10<small class="text-body-secondary fw-light"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Rerum id eveniet alias reprehenderit neque fugiat fuga. Doloremque repellendus omnis voluptas optio sed. Vel hic autem atque.</li>
          </ul>
        </div>
      </div>
    </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm pricecol hvr-grow">
          <div class="card-header py-3">
            <h5 class="my-0 fw-normal"><b>Plan 2</b></h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">£30<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Rerum id eveniet alias reprehenderit neque fugiat fuga. Doloremque repellendus omnis voluptas optio sed. Vel hic autem atque.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm pricecol hvr-grow">
          <div class="card-header py-3">
            <h5 class="my-0 fw-normal"><b>Plan 3</b></h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">£20<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Rerum id eveniet alias reprehenderit neque fugiat fuga. Doloremque repellendus omnis voluptas optio sed. Vel hic autem atque.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr />
<!-- Contact -->
<section class="contact-section" id="contact">
<div class="container ">
  <div class="row p-3">
    <div class="col-md-6">
      <h2>Contact Us</h2>
			<p style="width: 50%;">Do you have any questions for us? Please leave a message and we will get back to you as soon as we can.</p>
      <form action="#" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="message">Message:</label>
    <textarea class="form-control" rows="3" id="message" name="message" required></textarea>
  </div>
  <button type="button" onclick="submitForm()" class="btn btn-custom" data-toggle="modal" data-target="#successModal">Submit</button>
</form>
<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Message Sent</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your message has been sent successfully.
      </div>
    </div>
  </div>
</div>
    </div>
		<!--Location Map-->
    <div class="col-md-6">
      <h2>Location</h2>
      <div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR28qaCCLVHtyYOOcdweWNWsYZzn4mLow&callback=initMap" async defer></script>
    </div>
  </div>
</div>
</section>
{% endblock %}