{% extends "layout.html" %}
{% block content %}
<!--Cover Image--> 
<img src="/static/assets/img/tennis.jpg" class="bg-image" alt="Girl Playing tennis">
<header class="cover">
        <div class="container-fluid">
        <div class="cover-heading text-uppercase"> Tennis @ MSL</div>
        <div class="cover-subheading">We have a variety of leagues to suit all abilities</div>
        <a href="/register" class="btn btn-custom text-uppercase btn-lg">Register Now</a>
</header>

<!-- Latest News Section -->
<section class="tennis-latest-news">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-3">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 news-tag">Sport</strong>
            <h3 class="mb-0 news-title">Why Tennis is good for you</h3>
            <div class="mb-1 news-date">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
          </ol>

<!-- Slides -->
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="card" style="position: relative;">
      <img src="/static/assets/img/ja.jpg" class="card-img-top" alt="John Adams">
      <div class="card-body" style="position: absolute; bottom: 0; width: 100%; color: white;">
        <h5 class="card-title">John Adams</h5>
        <p class="card-text">Coach John Adams is a highly experienced tennis coach with over 15 years of coaching expertise in the UK. </p>
        <p class="card-text"><small class="text-warning">Read More</small></p>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="card" style="position: relative;">
      <img src="/static/assets/img/mc.jpg" class="card-img-top" alt="Michael Chen">
      <div class="card-body" style="position: absolute; bottom: 0; width: 100%; color: white;">
        <h5 class="card-title">Michael Chen</h5>
        <p class="card-text">Coach Michael Chen is a former ATP professional tennis player turned highly sought-after coach based in the UK.  </p>
        <p class="card-text"><small class="text-warning">Read More</small></p>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="card" style="position: relative;">
      <img src="/static/assets/img/sl.jpg" class="card-img-top" alt="Samantha Lee">
      <div class="card-body" style="position: absolute; bottom: 0; width: 100%; color: white;">
        <h5 class="card-title">Samantha Lee</h5>
        <p class="card-text">Coach Samantha Lee is a dynamic tennis coach known for her innovative coaching methods and infectious enthusiasm for the sport in the UK.  </p>
        <p class="card-text"><small class="text-warning">Read more</small></p>
      </div>
    </div>
  </div>
    <div class="carousel-item">
    <div class="card" style="position: relative;">
      <img src="/static/assets/img/ms.jpg" class="card-img-top" alt="Samantha Lee">
      <div class="card-body" style="position: absolute; bottom: 0; width: 100%; color: white;">
        <h5 class="card-title">Maria Sanchez</h5>
        <p class="card-text">Coach Samantha Lee is a dynamic tennis coach known for her innovative coaching methods and infectious enthusiasm for the sport in the UK.  </p></p>
        <p class="card-text"><small class="text-warning">Read more</small></p>
      </div>
    </div>
  </div>
    <div class="carousel-item">
    <div class="card" style="position: relative;">
      <img src="/static/assets/img/dw.jpg" class="card-img-top" alt="Samantha Lee">
      <div class="card-body" style="position: absolute; bottom: 0; width: 100%; color: white;">
        <h5 class="card-title">David Wilson</h5>
        <p class="card-text">Coach David Wilson is a seasoned tennis coach based in the UK with over 20 years of coaching experience at various levels.</p>
        <p class="card-text"><small class="text-warning">Read more</small></p>
      </div>
    </div>
  </div>
<!-- Controls -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>
</div>
</div>
</section>

<!-- Leaderboard -->
<div class="leaderboard-container p-5">
  <div class="row">
    <div class="col-lg-4">
      <!-- Calendar -->
      <div class="mb-3 ">
        <!-- Calendar content goes here -->
        <h2>Calendar</h2>

      </div>

      <!-- Weather -->
      <div class="weather-widget mb-3">
        <!-- Weather content goes here -->
        <h2>Weather</h2>
<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-white">
          <div class="bg-image">

          </div>
          <div class="card-img-overlay text-dark p-5">
            <div class="d-flex align-items-center"> 
              <div class="weather-icon mr-3" id="weather-icon">
                <img src="/static/assets/weather-icons/unknown.png" />
              </div>
              <div> 
                <h4 class="mb-0" id="city"></h4>
                <p class="temperature my-3" id="temperature"></p>
                <h5 id="weather-description"></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      </div>

      <!-- Team Rules -->
      <div class="">
        <!-- Team rules content goes here -->
        <h2>Team Rules</h2>
       <ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Attendance</div>
      Regular attendance at practices and matches is mandator
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Respect</div>
      Show respect towards teammates, coaches, opponents, officials, and spectators.
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Sportsmanship</div>
      Display good sportsmanship during practices and matches.
    </div>
  </li>
</ol>
      </div>
    </div>

    <div class="col-lg-8">
      <!-- Leaderboard -->
      <div class="mb-3">
        <!-- Leaderboard content goes here -->
        <h2>Leaderboard</h2>
        <!-- Leaderboard content goes here -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script%}
<script src="static/js/weather.js"></script>
{% endblock %}

